*,
*::after,
*::before {
  box-sizing: border-box;
}
table {
  width: 100%;
  margin: 10px;
  border-collapse: collapse;
}
th,
tr,
td {
  border: 1px solid #ddd;
  padding: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
tr:nth-child(even) {
  background-color: #e8e2e2;
}
button:hover{
  background-color: rgb(93, 93, 187);
  padding: 1px;
}